* {
    box-sizing: border-box;
}

body {
    background-color: #FDFDF1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffabab;
}

.bagian {
    display: flex;
    gap: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bagian a {
    color:black;
    background: none;
    text-decoration: none;
}

#tombolBeranda:hover {
    color:#e90b0b;
}

#tombolTentangKami:hover {
    color: #e90b0b;
}

#tombolTujuan:hover {
    color: #e90b0b;
}

#tombolManfaat:hover {
    color: #e90b0b;
}

.logo {
    display: flex;
    justify-content: center;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.loginButton {
    background-color: #fe2222;
    color:#FDFDF1;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.loginButton:hover {
    background: #c41818;
    text-decoration: underline;
}

.signUpButton {
    background-color: #fe2222;
    color:#FDFDF1;
    padding: 12px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}

.signUpButton:hover {
    background: #c41818;
    text-decoration: underline;
}

#startQuiz {
    display: flex;
    background-color: rgb(255, 248, 221);
    justify-content: center;
    padding: 2px;
}

.text {
    margin-top: 30px;
    text-align: left;
    width: 40%;
    color: rgb(156, 1, 1)
}

.startQuizButton {
    display: inline-block;
    background-color: #fe2222;
    color:#FDFDF1;
    padding: 12px;
    border-radius:  8px;
    text-decoration: none; /*Buat hilangin underlinenya*/
    font-weight: bold;
}

.startQuizButton:hover {
    background-color:#c41818;
}

#judul {
    display: flex;
    text-align: center;
    justify-content: center;
}

#informasi {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: left;
    width: 100%;
}

#pengertianAnemia {
    display: flex;
    width: 400px;
}

#gejalaAnemia {
    display: flex;
}


#penyebabAnemia {
    display: flex;
    gap: 3px;
}

#tentangKami {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tentangKami .judul {
    text-align: center;
    animation: fadeUp 3s infinite;
}

#tentangKami .konten {
    width: 600px;
    height: 450px;
    perspective: 1000px;
    position: relative;
    margin: 20px;
}

.flipCard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#tentangKami .konten:hover .flipCard {
    transform: rotateY(180deg);
}

.gambarDokterMasyarakat, .informasiTentangKami {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.gambarDokterMasyarakat {
    background-color: #FDFDF1;
    border-radius: 20px;
}

.informasiTentangKami {
    background-color: rgb(217, 216, 212);
    padding: 30px;
    transform: rotateY(180deg);
    text-align: center;
}

#tujuan .judul {
    display: flex;
    justify-content: center;
}

#tujuan .konten {
    display: flex;
    background-color: #fdfdf1;
    width: 100%;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

#tujuan .konten #tujuan1, #tujuan .konten #tujuan2, #tujuan .konten #tujuan3 {
    background-color: rgb(253, 245, 216);
    padding: 20px;
    border-radius: 20px;
    width: 15%;
}

#manfaat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eeeee5;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#manfaat .judul {
    display: flex;
    justify-content: center;
}

#manfaat .konten {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    gap: 20px;
    width: 100%;
}

#manfaat .konten .manfaatAtas, #manfaat .konten .manfaatBawah {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}
#manfaat .konten #manfaat1, #manfaat .konten #manfaat2, #manfaat .konten #manfaat3, #manfaat .konten #manfaat4, #manfaat .konten #manfaat5 {
    background-color: #fdfdf1;
    border-radius: 20px;
    gap: 30px;
    width: fit-content;
    padding: 20px;
    width: 275px;
}

.footer {
    text-align: center;
    background-color:  rgb(67, 66, 65);
    padding: 1px;
    color: #FDFDF1;
}

.kuis {
    background-color: rgb(255, 244, 206);
    text-align: center;
}